/* :root allows for global variables in css */
:root {
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;

}
/* * selects all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}
/* styling for links */
a {
    color: var(--link-color);
    /* removes default underline */
    text-decoration: none;
}

